{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Aktualności
                    </strong>
                    <hr>
                    <div class='row card-group'>
                        <div class="col row-cols-md-8">
                            <div class="h-100 d-inline-block">
                                <div class="card-body">
{#                                    <img src="{{ records_aktualnosc_id.grafika.url }}" class="card-img-top" alt="...">#}
                                    <h5 class="card-title">{{ records_aktualnosc_id.tytul | safe }}</h5>
                                    <h5 class="card-title">{{ records_aktualnosc_id.opis | safe }}</h5><br>
                                    <hr>
                                    Data ogłoszenia: {{ records_aktualnosc_id.data_utworzenia }}<br>
                                    Opublikował: {{ user }}<br><br>
                                    <a href="{% url 'aktualnosci' %}"><button type="button" class="btn btn-outline-secondary">Powrót</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include "footer.html" %}
{% endblock %}