<div class="card border-dark mb-3" style="max-width: 78rem;">
    <div class="card-header">Spółdzielnia Mieszkaniowa Budowlani</div>
    <div class="card-group">
        <div style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Adres:</h5>
{#                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>#}
                <p class="card-text">ul. T. Boya-Żeleńskiego 1<br>
                    85-858 Bydgoszcz<br>
                    telefon: 523664400<br>
                    email: sekretariat@smbudowlani.pl<br>
                    NIP 5540312220<br>
                    REGON 000483398</p>
{#                <a href="#" class="card-link">Card link</a>#}
{#                <a href="#" class="card-link">Another link</a>#}
            </div>
        </div>
        <div style="width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">Dojazd:</h5>
{#                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>#}
{#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the#}
{#                    card's content.</p>#}
                <a href="#" class="card-link">Ogólna</a>
                <a href="#" class="card-link">Centrum</a>
                <a href="#" class="card-link">Na Wyżynach</a>
                <a href="#" class="card-link">Na Skarpie</a>
            </div>
        </div>
        <div style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Administracje:</h5>
{#                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>#}
                <p class="card-text">Centrum - 523664300<br>
                    Na Wyżynach - 523664200<br>
                    Na Skarpie - 523664100
                </p>
{#                <a href="#" class="card-link">Card link</a>#}
{#                <a href="#" class="card-link">Another link</a>#}
            </div>
        </div>

    </div>
</div>