<div class="card border-dark mb-3" style="max-width: 78rem;">
    <div class="card-header">Spółdzielnia Mieszkaniowa Budowlani</div>
    <div class="card-group">
        <div style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Adres:</h5>
                <p class="card-text">ul. T. Boya-Żeleńskiego 1<br>
                    85-858 Bydgoszcz<br>
                    telefon: 523664400<br>
                    email: sekretariat@smbudowlani.pl<br>
                    NIP 5540312220<br>
                    REGON 000483398</p>
            </div>
        </div>
        <div style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Przydatne linki:</h5>
                <a href="{% url 'przetargi' %}">Przetargi</a><br>
                <a href="{% url 'kontakt' %}">Kontakt</a><br>
                <a href="{% url 'aktualnosci' %}">Aktualności</a><br>
                <a href="{% url 'pliki' %}">Pobierz</a>
            </div>
        </div>
        <div style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">Social:</h5>
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i><br><br>
                <div class="col-auto">
                    Neswletter
                    <form action="inc/mailchimp/subscribe.php" novalidate="novalidate">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="name@example.com">

                        <button type="submit" class="btn btn-outline-secondary">Zapisz</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
