{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Badanie zadowolenia klienta
                    </strong>
                    <hr>
                    <p align="justify">
                        W dniach od 27 lutego do 17 marca 2023 roku przeprowadzone zostało badanie zadowolenia klienta z
                        obsługi wśród kontrahentów Spółdzielni Mieszkaniowej Budowlani. Nasi ankieterzy skontaktowali
                        się telefonicznie ze 130 losowo wybranymi osobami, które w 2022 roku korzystały z usług
                        Spółdzielni. Jako ciekawostkę możemy zaznaczyć, że częściej chęcią przekazania opinii wykazywały
                        się kobiety niż mężczyźni.
                        Respondenci odpowiadali m.in. na pytania dotyczące kontaktu, obsługi, możliwości dodzwonienia
                        się na wybrane przez siebie numery telefonów, oceniali jakość uzyskanych informacji, stopień
                        załatwienia swojej sprawy oraz oceniali naszą działalność.
                        Niestety, aż 57% ankietowanych nie korzysta ze strony internetowej www.smbudowlani.pl. Ten wynik
                        jest dla nas bardzo zaskakujący i musimy zastanowić się nad możliwościami upowszechnienia tej
                        formy kontaktu wśród członków Spółdzielni. Zwłaszcza z punktu widzenia przydatności i mnogości
                        informacji jakie zamieszczamy na naszej stronie np. dane dotyczące samego budynku, stan funduszu
                        remontowego, terminy przeglądów, wywozu odpadów wielkogabarytowych oraz dane kontaktowe z
                        możliwością zgłoszenia problemu.
                        Dziękujemy bardzo, że nasza codzienna praca zyskuje zadowolenie w Państwa oczach. Zebrane
                        informacje pozwolą nam na dalszy rozwój i eliminowanie wskazanych ankieterom niedogodności.
                        Podczas badania pojawiały się też sugestie dotyczące poszczególnych administracji oraz zgłaszane
                        były pomysły i zapotrzebowania na konkretnych nieruchomościach. Wszystkie te opinie
                        przekazaliśmy do administracji osiedli celem zapoznania się z możliwościami ich realizacji.
                        <br><br>
                        Jeszcze raz dziękujemy Państwu za poświęcony czas ankieterom i cenne opinie.
                        <br><br>
                        Barbara Budziak
                        <br>
                        Pełnomocnik Zarządu ds. SZJ
                        Spółdzielni Mieszkaniowej Budowlani
                </div>

            </div>
        </div>
    </div>
    <hr>
    {% include "footer.html" %}
{% endblock %}