{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Polityka jakości
                    </strong>
                    <hr>
                    <p align="justify">
                        Misją Spółdzielni jest zaspokajanie potrzeb mieszkaniowych członków, zapewnienie jej mieszkańcom
                        bezpiecznego i komfortowego zamieszkiwania oraz stałego i atrakcyjnego wzrostu wartości rynkowej
                        ich nieruchomości. Misję tą realizujemy poprzez wykonywanie wszystkich wymaganych prawem
                        czynności kontrolnych, opartą o wyniki tych przeglądów planowaną długofalowo gospodarkę
                        remontowo-modernizacyjną budynków, sprawną i kompetentną obsługę członków, klientów i
                        kontrahentów, umacnianie pozycji na rynku zarządców nieruchomości, stwarzanie warunków
                        zaspokajania potrzeb społeczno-wychowawczych i kulturalno-oświatowych oraz działania
                        proekologiczne w miejscu zamieszkania.</p>
                    <p align="justify">Od lat pracownicy i zarząd Spółdzielni Mieszkaniowej „BUDOWLANI” z należytą
                        starannością realizują to przesłanie zarządzając nieruchomościami, dla których Spółdzielnia jest
                        zarządcą z mocy prawa oraz nieruchomościami będącymi własnością wspólnot mieszkaniowych w ramach
                        zarządu powierzonego. Wkładany wysiłek kierujemy na zagwarantowanie wysokiego poziomu obsługi
                        mieszkańców.
                    </p>
                    <p align="justify">
                        Cele polityki jakości to:<br>
                        - wzrost zadowolenia i zaufania członków, mieszkańców oraz klientów Spółdzielni,
                        <br>
                        - rozszerzanie sposobów wzajemnej komunikacji między mieszkańcami i pracownikami,
                        <br>
                        - zapewnienie poczucia stabilności oraz bezpieczeństwa mieszkańców poprzez doskonalenie
                        infrastruktury i środków przekazu informacji,
                        <br>
                        - angażowanie mieszkańców w podejmowanie decyzji dotyczących ich nieruchomości,
                        <br>
                        - wypracowanie poczucia odpowiedzialności za wspólne mienie we współpracy z użytkownikami lokali
                        będących w zasobach Spółdzielni,
                        <br>
                        - podnoszenie wartości majątku Spółdzielni poprzez efektywne inwestowanie,
                        <br>
                        - zwiększanie liczby zarządzanych nieruchomości, między innymi przez inwestowanie,
                        <br>
                        - najwyższa dbałość o bezpieczeństwo danych osobowych kontrahentów i pracowników,
                        <br>
                        - propagowanie solidaryzmu, odpowiedzialności, dbałości o dobro wspólne oraz dobre imię firmy
                        jako istoty spółdzielczości,
                        <br>
                        - dostosowywanie świadczonych usług do wyników badań oczekiwań mieszkańców,
                        <br>
                        - dobra współpraca Spółdzielni z otoczeniem zewnętrznym: Gmina Miejska, Straż, Policja,
                        organizacje społeczne itp.
                        <br>
                        - stałe doskonalenie umiejętności pracowników, wprowadzanie indywidualnej odpowiedzialności
                        pracowników za jakość pracy i świadczonych usług, inwestowanie w wiedzę i rozwój pracowników
                        oraz zwiększanie ich satysfakcji z pracy
                        <br>
                        - poszukiwanie i wdrażanie technologii ograniczających zużycie energii,
                        <br>
                        - utrzymanie i ciągłe doskonalenie Systemu Zarządzania Jakością,
                        <br>


                    <p align="justify">Podejmujemy szereg działań mających na celu pozyskanie środków finansowych z
                        innych źródeł niż opłaty mieszkaniowe. Środki te pozwalają na odciążenie naszych członków przez
                        pomniejszenie kosztów utrzymania lokalu oraz zwiększenie zakresu robót remontowych nieruchomości
                        (dotacje).</p>
                    <p align="justify">Dodatkowo poprzez działalność Domu Kultury „Modraczek” staramy się zaspokajać
                        potrzeby społeczne, oświatowe i kulturalne naszych mieszkańców. Sprzyja to ich integracji, a
                        pracownikom pozwala na szersze poznanie oczekiwań.</p>
                    <p align="justify">Stawiając na jakość badamy stopień zadowolenia klienta z działalności Spółdzielni
                        i ustalamy obszary, które wymagają poprawy, gdyż ciągłe doskonalenie w celu uzyskania możliwie
                        najwyższego poziomu naszych usług jest najwyższym celem wszystkich pracowników naszej
                        Spółdzielni.
                    </p>
                    <p align="justify">Prezesa Zarządu</p>
                    Jacek Kołodziej

                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include "footer.html" %}
{% endblock %}