{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Rada Nadzorcza w kadencji 2023-2026
                    </strong>
                    <hr>
                    <div class="row col d-flex justify-content-center">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><b>Rada Nadzorcza w kadencji 2023-2026</b></h5>
                                    <p class="card-text">Przewodnicząca: Justyna Sobczak-Piąstka</p>
                                    <p class="card-text">Zastępca Przewodniczącej: Hubert Fletka</p>
                                    <p class="card-text">Sekretarz: Julia Piaskowska</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="card-group">
                        <div style="width: 22rem;">
                            <div class="card-body">
                                <p class="card-text">Komisja<br> Członkowsko-Regulaminowa<br>
                                <hr>
                                <p class="card-text">Przewodnicząca:<br>Dorota Klugiewicz</p>
                                <p class="card-text">Zastępca Przewodniczącej:<br> Barbara Kozik</p>
                                <p class="card-text">Sekretarz:<br> Agata Kulupa</p>
                                <p class="card-text">Członek:<br> Mateusz Majewski</p>
                                <p class="card-text">Członek:<br> Beata Konopińska</p>
                            </div>
                        </div>
                        <div style="width: 22rem;">
                            <div class="card-body">
                                <p class="card-text">Komisja<br> Techniczno-Innowacyjna<br>
                                <hr>
                                <p class="card-text">Przewodnicząca:<br>Joanna Beszczyńska</p>
                                <p class="card-text">Zastępca Przewodniczącej:<br> Hubert Fletka</p>
                                <p class="card-text">Sekretarz:<br> Marcin Sokołowski</p>
                                <p class="card-text">Członek:<br> Justyna Sobczak-Piąstka</p>
                                <p class="card-text">Członek:<br> Robert Jankowski</p>
                            </div>
                        </div>
                        <div style="width: 22rem;">
                            <div class="card-body">
                                <p class="card-text">Komisja<br> Rewizyjna<br>
                                <hr>
                                <p class="card-text">Przewodnicząca:<br>Małgorzata Maciejewska</p>
                                <p class="card-text">Zastępca Przewodniczącej:<br> Maciej Kamiński</p>
                                <p class="card-text">Sekretarz:<br> Małgorzata Włodarczyk</p>
                                <p class="card-text">Członek:<br> Julia Piaskowska</p>
                                <p class="card-text">Członek:<br> Waldemar Ziółkowski</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p>
                    <center>UWAGA! ZMIANA FORMUŁY DYŻURU RADY NADZORCZEJ</center>
                    </p>

                    <p align="justify">W celu umówienia wizyty z przedstawicielem Rady Nadzorczej, prosimy o wcześniejszy kontakt pod
                        numerem telefonu 52 366 44 08 lub na adres email: radanadzorcza@smbudowlani.pl . Wówczas
                        zostaniecie Państwo umówieni na spotkanie z przedstawicielem Rady Nadzorczej na konkretny dzień
                        i godzinę.</p>

                </div>
            </div>
        </div>
    </div>
    <hr>

    {% include "footer.html" %}
{% endblock %}