{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        RODO - ochrona danych osobowych w Spółdzielni
                    </strong>
                    <hr>
                    <p align="justify">
                        Niniejszym pragniemy poinformować Państwa, że w związku z wejściem w życie z dniem 25 maja 2018 roku przepisów Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych - Dziennik Urzędowy UE L 119 – dalej: RODO) Spółdzielnia Mieszkaniowa „BUDOWLANI” w Bydgoszczy zapewniała będzie określone w tych przepisach standardy ochrony i właściwego postępowania z danymi osobowymi.
<p align="justify">Zgodnie z art. 13 ust. 1 i 2 RODO informujemy osoby, których danymi Spółdzielnia dysponuje, że:

<p align="justify">Spółdzielnia Mieszkaniowa „BUDOWLANI” w Bydgoszczy - siedziba: 85-858 Bydgoszcz, ul. T. Boya - Żeleńskiego 1 jest Administratorem Danych Osobowych, w których posiadanie weszła wskutek wykonywania swoich statutowych obowiązków, zawieranych z Państwem umów, utrzymywaniem korespondencji, merytoryczną obsługą przesyłanych do nas wniosków, próśb, skarg i postulatów.

<p align="justify">Państwa dane osobowe, o których mowa wyżej, były, są i będą przetwarzane przez Spółdzielnię, jako Administratora Danych, wyłącznie w celach określonych przepisami prawa, w tym ustawą z dnia 16 września 1982 r. Prawo spółdzielcze (t.j. Dz. U. z 2017 r. poz. 1560), ustawą z dnia 15 grudnia 2000 r. o spółdzielniach mieszkaniowych (t.j. Dz. U. z 2013 poz. 1222 z późn. zm.), Statutem Spółdzielni Mieszkaniowej „BUDOWLANI” w Bydgoszczy oraz przepisami prawa gospodarczego.

<p align="justify">Prawne podstawy dopuszczalności przetwarzania przez Spółdzielnię dotyczących Państwa danych oparte są na wyżej wskazanych przepisach prawa oraz na niezbędności wykonania umów zawieranych przez Państwa ze Spółdzielnią. W wymagających tego przypadkach Spółdzielnia ubiegała będzie się o wyrażenie Państwa zgody na przetwarzanie danych w wyraźnie zadeklarowanym celu, z zastrzeżeniem możliwości łatwego odwołania zgody przez osobę, która ją uprzednio wyraziła.

<p align="justify">Spółdzielnia deklaruje, że w określonych stanach faktycznych przetwarzała będzie Państwa dane osobowe na podstawie dopuszczalnej przez RODO przesłanki niezbędności do celów wynikających z prawnie uzasadnionych interesów realizowanych przez Administratora Danych lub przez stronę trzecią. Do przykładowych celów takiego przetwarzania należały będą:
wykorzystywanie monitoringu wizyjnego dla zapewnienia bezpieczeństwa osób i mienia na obszarach i w określonych obiektach znajdujących się na terenach administrowanych przez Spółdzielnię,
marketing usług własnych Spółdzielni oraz promowanie jej działalności i nowych inicjatyw, w tym kulturalnych i sportowo-rekreacyjnych, wśród mieszkańców zasobów spółdzielczych,
dochodzenie roszczeń z tytułu prowadzenia działalności gospodarczej.

<p align="justify">Dotyczące Państwa dane osobowe nie podlegają zautomatyzowanemu podejmowaniu decyzji przez Spółdzielnię Mieszkaniową „BUDOWLANI” w Bydgoszczy, w tym profilowaniu.

<p align="justify">Osobom, których dane Spółdzielnia przetwarza przysługują prawa:<br>
- dostępu do swoich danych oraz otrzymania ich kopii,<br>
- sprostowania (poprawiania) danych,<br>
- usunięcia danych (zgodnie z uwarunkowaniami określonymi w art. 17 RODO),<br>
- do ograniczenia przetwarzania danych,<br>
- do przenoszenia danych (zgodnie z uwarunkowaniami określonymi w art. 20 RODO),<br>
- wniesienia sprzeciwu wobec przetwarzania danych,<br>
- wniesienia skargi do organu nadzorczego, o którym mowa w art. 4 pkt 21 RODO, tj. do Prezesa Urzędu Ochrony Danych Osobowych.<br>

<p align="justify">Spółdzielnia Mieszkaniowa „BUDOWLANI” w Bydgoszczy przechowywała będzie Państwa dane osobowe przez okres wskazany w przepisach prawa spółdzielczego i gospodarczego, niemniej nie dłużej niż 10 lat od ostatniej operacji dokonanej na dotyczących mnie danych zawartych w zasobach informacyjnych Spółdzielni.

<p align="justify">Państwa dane osobowe mogą zostać udostępnione podwykonawcom związanym ze Spółdzielnią umowami powierzenia przetwarzania danych osobowych, np. kancelarie radców prawnych, kancelarie notarialne, firmy informatyczne, podmioty dokonujące odczytów i rozliczenia mediów, firmy dokonujące przeglądów instalacji oraz firmy dokonujące napraw usterek / usuwania skutków awarii.

<p align="justify">Spółdzielnia, jako Administrator Danych, deklaruje, że nie przekazuje i nie zamierza przekazywać danych osobowych do państwa trzeciego.

<p align="justify">W celu umówienia spotkania z Inspektorem Ochrony Danych, prosimy o wcześniejszy kontakt pod numerem telefonu 52 366 44 50 lub na adres e-mail: rodo@smbudowlani.pl. Wówczas zostaniecie Państwo umówienie na spotkanie na konkretny dzień i godzinę.


<p>Zarząd Spółdzielni Mieszkaniowej „BUDOWLANI” w Bydgoszczy


                    </p>

                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include "footer.html" %}
{% endblock %}