{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Organy Spółdzielni
                    </strong>
                    <hr>
                    <p><strong>Walne Zgromadzenie</strong></p>
<p>1. Walne Zgromadzenie jest najwyższym organem Spółdzielni.</p>
<p>2. Walne Zgromadzenie podzielone jest na części, gdy liczba członków przekroczy 500 osób.</p>
<p>3. Rada Nadzorcza ustala ilość części Walnego Zgromadzenia, oznakowanie części Walnego oraz zasady zaliczania członków do poszczególnych części Walnego Zgromadzenia uwzględniając zasadę wspólnoty interesów wynikającą z zamieszkiwania w określonym zespole nieruchomości.</p>
<p>4. Członkowie oczekujący biorą udział w określonej przez Radę Nadzorczą jednej części Walnego Zgromadzenia.</p>
<p>5. Każdy członek Spółdzielni ma jeden głos bez względu na ilość posiadanych udziałów i praw do lokali.</p>
<p>6. Członkowie niezależnie od ilości posiadanych praw do lokali zaliczonych do różnych części Walnego Zgromadzenia mogą być obecni i brać udział w głosowaniu tylko w jednej wybranej przez siebie części Walnego Zgromadzenia.</p>
<p>7. Członkowie osoby fizyczne mogą brać udział w Walnym Zgromadzeniu tylko osobiście.</p>
<p>8. Członkowie osoby prawne mogą brać udział przez osobę upoważnioną do reprezentowania lub przez pełnomocnika. Pełnomocnik nie może zastępować więcej niż jednego członka. Pełnomocnik osoby prawnej może być wybierany jako członek Rady Nadzorczej i Rady Osiedla.</p>
<p>9. Członkowie nie mający zdolności do czynności prawnych lub członkowie z ograniczoną zdolnością do czynności prawnych nie mogą być członkami organów Spółdzielni. W Walnym Zgromadzeniu biorą one udział przez swoich przedstawicieli ustawowych.</p>
<p>10. We wszystkich częściach Walnego Zgromadzenia mają prawo uczestniczyć z głosem doradczym przedstawiciele Związku Rewizyjnego, w którym Spółdzielnia jest zrzeszona oraz przedstawiciele Krajowej Rady Spółdzielczej.</p>
<p>11. Członkowie mają prawo do korzystania na własny koszt z pomocy prawnej lub pomocy eksperta. Osoby, z których pomocy członek korzysta, nie mają prawa zabierać głosu na Walnym Zgromadzeniu.</p>
<p><strong>Do wyłącznej właściwości Walnego Zgromadzenia należy:</strong></p>
<p>1. Uchwalanie kierunków rozwoju działalności gospodarczej oraz społecznej i kulturalnej.</p>
<p>2. Rozpatrywanie sprawozdań Rady, zatwierdzanie sprawozdań rocznych i sprawozdań finansowych oraz podejmowanie uchwał co do wniosków członków Spółdzielni, Rady lub Zarządu w tych sprawach i udzielanie absolutorium członkom Zarządu.</p>
<p>3. Rozpatrywanie wniosków wynikających z przedstawionego protokołu polustracyjnego z działalności Spółdzielni oraz podejmowanie uchwał w tym zakresie.</p>
<p>4. Podejmowanie uchwał w sprawie sposobu pokrycia strat, oraz podziału nadwyżki bilansowej.</p>
<p>5. Podejmowanie uchwał w sprawie zbycia nieruchomości, zbycia zakładu lub innej wyodrębnionej jednostki organizacyjnej.</p>
<p>6. Podejmowanie uchwał w sprawie przystępowania do innych organizacji gospodarczych oraz występowania z nich.</p>
<p>7. Oznaczenie najwyższej sumy zobowiązań jaką Spółdzielnia może zaciągnąć.</p>
<p>8. Podejmowanie uchwał w sprawie połączenia się Spółdzielni, podziału Spółdzielni oraz likwidacji Spółdzielni.</p>
<p>9. Rozpatrywanie w postępowaniu wewnątrzspółdzielczym odwołań od uchwał Rady.</p>
<p>10. Uchwalanie zmian Statutu.</p>
<p>11. Podejmowanie uchwał w sprawie przystąpienia lub wystąpienia Spółdzielni ze związku oraz upoważnienie Zarządu do podejmowania działań w tym zakresie.</p>
<p>12. Wybór i odwołanie członków Rady Nadzorczej i Rady Osiedla.</p>
<p>13. Uchwalanie regulaminów obrad Walnego Zgromadzenia, Rady Nadzorczej i Rad Osiedli.</p>
<p>14. Wybór delegatów na Kongres Spółdzielczości lub Zjazd Związku, w którym Spółdzielnia jest zrzeszona.</p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rada Nadzorcza w kadencji 2023-2026</h5>
                    <p class="card-text">Przewodnicząca: Justyna Sobczak-Piąstka</p>
                    <p class="card-text">Zastępca Przewodniczącej: Hubert Fletka</p>
                    <p class="card-text">Sekretarz: Julia Piaskowska</p>
                </div>
            </div>
        </div>
    </div>

    <hr>



    {% include "footer.html" %}
{% endblock %}