{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Rada Osiedli
                    </strong>
                    <hr>

                    <div class="card-group">
                        <div style="width: 22rem;">
                            <div class="card-body">
                                <p class="card-text">Rada Osiedla "Centrum"<br>
                                <hr>
                                <p class="card-text">Przewodnicząca:<br>Elżbieta Krzymin</p>
                                <p class="card-text">Zastępca Przewodniczącej:<br> Arletta Kopczyk-Karczewska</p>
                                <p class="card-text">Sekretarz:<br> Elżbieta Bogdanowicz</p>
                                <p class="card-text">Członek:<br> Magdalena Gawarkiewicz</p>
                            </div>
                        </div>
                        <div style="width: 22rem;">
                            <div class="card-body">
                                <p class="card-text">Rada Osiedla "Na Skarpie"<br>
                                <hr>
                                <p class="card-text">Przewodnicząca:<br>Kinga Kwiatkowska</p>
                                <p class="card-text">Zastępca Przewodniczącej:<br> Piotr Cysewski</p>
                                <p class="card-text">Sekretarz:<br> Anna Roszak</p>
                                <p class="card-text">Członek:<br> Magdalena Korobowicz</p>
                                <p class="card-text">Członek:<br> Anna Szynkiewicz</p>
                            </div>
                        </div>
                        <div style="width: 22rem;">
                            <div class="card-body">
                                <p class="card-text">Rada Osiedla "Na Wyżynach"<br>
                                <hr>
                                <p class="card-text">Przewodnicząca:<br>Gabriela Kowalska</p>
                                <p class="card-text">Zastępca Przewodniczącej:<br> Krzysztof Kozłowski</p>
                                <p class="card-text">Sekretarz:<br> Anna Dynarowicz-Kijek</p>
                                <p class="card-text">Członek:<br> Marcin Dziennik</p>
                                <p class="card-text">Członek:<br> Maria Michałek</p>
                            </div>
                        </div>
                    </div>
                    <hr>


                    <p align="justify">Dyżur Rad Osiedli odbywa się w formie telefonicznej po wcześniejszym zgłoszeniu sprawy do administracji osiedla telefonicznie lub mailowo.</p>

                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include "footer.html" %}
{% endblock %}