{% extends 'base.html' %}
{% block content %}
    {% load static %}

    {#    Sekcja podmenu#}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Tu Mieszkam
                    </strong>
                    <hr>

                    <div class='row card-group'>
                        {% for record in records %}
                            <div class="col row-cols-md-2">
                                <div class="h-50 d-inline-block">
                                    <embed src="{{ record.okladka.url }}" class="card-img-top"/>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ record.opis }}</h5>
                                    </div>
                                    <div class="card">
                                        <a href="{{ record.plik.url }}" class="btn btn-primary"
                                           target="_blank">Otwórz</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <hr>

    {#Sekcja footer    #}
    {% include "footer.html" %}
{% endblock %}
