{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
                    <strong>
                        Wspólnoty - oferta
                    </strong>
                    <hr>
                    <p align="justify">
                        Spółdzielnia Mieszkaniowa "Budowlani" zarządza budynkami wielorodzinnymi, w tym budynkami
                        wspólnot mieszkaniowych.<br>
                        <br>
                        Spółdzielnia zarządza 205 nieruchomościami mieszkalnymi o łącznej powierzchni 597.194
                        m<sup>2</sup>, 353 lokalami użytkowymi, których powierzchnia wynosi 42.113 m<sup>2</sup> oraz 18
                        Wspólnotami Mieszkaniowymi<br>
                        <br>
                        Zapewniamy pełną obsługę nieruchomości przez zatrudnionych w Spółdzielni pracowników
                        posiadających niezbędne przygotowanie zawodowe do zarządzania. Licencję Zarządcy Nieruchomości
                        posiada 15 osób. Uprawnienia budowlane w różnych specjalnościach (ogólnobudowlane, elektryczne,
                        wod–kan, gaz, co, wentylacja, instalacje solarne i klimatyzacje) posiada 32 zatrudnionych
                        pracowników.</p>
                    Oferujemy:
                    <br>
                    w zakresie zarządzania i administrowania:
                    <p align="justify">prowadzenie pełnej księgowości, rozliczania kosztów, przychodów i kont
                        rozrachunkowych, w tym indywidualnych rozliczeń zużycia mediów dla poszczególnych właścicieli,
                        analizę kosztów mediów i usług, proponowanie wynikowych zaliczek, kontrolę rozliczeń z
                        dostawcami mediów i usług, prowadzenie rachunku bankowego, dokonywanie terminowych płatności i
                        rozliczeń Wspólnoty poprzez rachunek bankowy, przechowywanie dokumentacji Wspólnoty, prowadzenie
                        rozliczeń podatkowych, sporządzenie rocznych planów finansowych i gospodarczych Wspólnoty,
                        prowadzenie sprawozdawczości, w tym z realizacji planów finansowych i gospodarczych
                        Wspólnoty.</p>
                    w zakresie administracyjno – prawnym:
                    <p align="justify>">prowadzenie i aktualizację dokumentacji prawnej, w tym aktualnego wykazu lokali,
                        właścicieli lokali, wraz z udziałami w części wspólnej, ilości osób zamieszkujących w lokalach,
                        udzielanie właścicielom informacji o sytuacji finansowej Wspólnoty, jej reprezentowanie na
                        podstawie udzielonego pełnomocnictwa przed osobami fizycznymi i prawnymi, prowadzenie
                        korespondencji w imieniu Wspólnoty z właścicielami lokali mieszkalnych, użytkowych, miejsc
                        postojowych oraz z innymi podmiotami, obliczanie i obciążanie właścicieli kosztami utrzymania
                        części wspólnej nieruchomości zgodnie z uchwałą właścicieli lokali, składanie Zarządowi/Członkom
                        Wspólnoty rocznych raportów i sprawozdań finansowych dotyczących zarządzanej nieruchomości, w
                        terminie do końca I kwartału roku następnego – obsługa i opracowanie dokumentacji zebrań
                        Wspólnoty, w tym rocznego zebrania właścicieli a także zebrań zwoływanych na wniosek właścicieli
                        wg zasad określonych w umowie, opracowywanie projektów uchwał i innych aktów normatywnych
                        wspólnoty (regulaminów),pobieranie i windykacja należnych od właścicieli lokali wpłat na
                        pokrycie kosztów zarządzania nieruchomością wspólną i kosztów funduszu remontowego, poprzez
                        wystawianie rachunków, książeczek opłat, właściwych faktur na okres ustalony przez Wspólnotę
                        Mieszkaniową.</p>
                    w zakresie obsługi technicznej:
                    <p align="justify">prowadzenie bieżącej ewidencji zgłoszeń konserwacyjnych i terminów ich
                        realizacji, nadzór bieżącej konserwacji oraz utrzymania porządku, nadzór nad wykonaniem usterek
                        w okresie gwarancji i rękojmi wykonawcy, nadzór przy usuwaniu awarii i ich skutków w
                        nieruchomości (jeżeli do usunięcia awarii konieczne będzie użycie środków z funduszu remontowego
                        wymagane będzie uzyskanie pisemnej zgody zarządu Wspólnoty), przygotowanie i organizacja
                        przeglądów okresowych wynikających z przepisów prawa budowlanego, przegląd techniczny do
                        określenia potrzeb remontowych, prowadzenie dokumentacji technicznej nieruchomości, prowadzenie
                        książki obiektu budowlanego, planowanie niezbędnych remontów, nadzór nad remontami oraz ich
                        odbiór, bieżące informowanie zarządu Wspólnoty o stanie technicznym nieruchomości i stopniu
                        zaawansowania przeprowadzonych prac remontowych, sporządzenie wstępnych kosztorysów remontowych
                        oraz wyszukiwanie kontrahentów oferujących najkorzystniejsze warunki wykonywania zaplanowanych
                        prac.</p>
                    Dodatkowo oferujemy:

                    Usługi pogotowia technicznego w części nieruchomości wspólnej czynne w dni robocze od 15.00 do 22.00
                    i w dni wolne od pracy w godz.8.00 do 20.00. W wypadkach szczególnych, np. nagłych awarii, również w
                    nocy.
                    <br><br>
                    Usługi WUKO –posiadamy sprzęt do usuwania zapchań instalacji kanalizacyjnej części wspólnej (piony i
                    poziomy instalacji kanalizacyjnej).
                    <br><br>
                    Zarządzając tak dużą ilością nieruchomości budynkowych i lokalowych posiadamy bardzo szeroki
                    wachlarz firm świadczących usługi na rzecz nieruchomości zarządzanych przez Spółdzielnię, w tym
                    również Wspólnot. Ciągła weryfikacja firm pod kątem jakości świadczonych usług pozwala realizować
                    prace zgodnie z obowiązującymi przepisami i warunkami technicznymi. Organizacja przetargów
                    nieograniczonych pozwala pozyskiwać do współpracy nowe firmy.
                    <br><br>
                    Serdecznie zapraszamy do skorzystania z naszej oferty. Profesjonalność i uczciwość, jaką
                    gwarantujemy to oszczędność środków własnych i bezpieczeństwo nieruchomości nam powierzonej.

                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include "footer.html" %}
{% endblock %}